/* Website Font */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Website Full Body */

*{
    margin: 0;
    padding: 0;
}

.header{
    display: block;
}
/* Nav Menu */

.nav_section{
    margin: 0 auto;
    padding-top: 88px;
    width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Logo Font */

.logo{
    width: 243px;
    color: #3A3A3A;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}


/* Nev Links */

.nev_menu{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 34px;
}
.nev_link{
    list-style-type: none;
}
.nev_link a{
    text-decoration: none;
    color: #3A3A3A;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

/* Hero Section */

.hero_section{
    display: flex;
    width: 1200px;
    margin: 0 auto;
    padding-top: 80px;
    justify-content: space-between;
    align-items: center;
}
/* Hero Section Content */

.hero_section_content{
    display: flex;
    flex-direction: column;
    width: 582px;
    gap: 16px;
}
.hero_section_content h1{
    width: 582px;
    color: #3A3A3A;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: Poppins;
    font-size: 52px;
    font-style: normal;
    font-weight: 700;
    line-height: 70px; /* 134.615% */
}
.hero_section_content > p{
    width: 505px;
    color: #3A3A3A;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.hero_button{
    display: flex;
    align-self: flex-start;
    padding: 10px 24px;
    align-items: center;
    gap: 8px;
    border-radius: 41px;
    background: #E02C6D;
}
.hero_button span{
    color: #FFF;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.hero_section_img{
    width: 480px;
    height: 480px;
    display: flex;
}
.background_img{
    position: absolute;
    z-index: -1;
}

/* Logo Banners Section */

.logos{
    display: flex;
    width: 1200px;
    margin: 0 auto;
    justify-content: space-evenly;
    padding-top: 100px;
}

/* Item Section */
